$blue: #2d9cdb;
$green: #27ae60;
$red: #eb5757;
$transition: all 0.3s ease-in-out;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.3;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 90em;
  margin: 0 auto;
  width: 100%;
  padding: 0 10.25rem;
  @media only screen and (max-width: 80em) {
    padding: 0 3.25rem;
  }
  @media only screen and (max-width: 62em) {
    padding: 0 1rem;
  }
}
header {
  padding: 3rem 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  background: #ffffff;
  @media only screen and (max-width: 80em) {
    padding: 1rem 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.25rem;
    @media only screen and (max-width: 62em) {
      padding: 0 1rem;
    }
  }
  .hamburger {
    display: none;
    @media only screen and (max-width: 45em) {
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      right: 1rem;
      z-index: 111;
      span {
        position: absolute;
        width: 100%;
        height: 1px;
        background: #333;
        top: 50%;
        transform-origin: center;
        transition: $transition;
        &:first-child {
          top: 15%;
        }
        &:last-child {
          top: 85%;
        }
      }
      &.active {
        span {
          &:first-child {
            transform: rotate(45deg);
            top: 50%;
          }
          &:last-child {
            transform: rotate(-45deg);
            top: 50%;
          }
          &:nth-child(2) {
            transform: scale(0);
          }
        }
      }
    }
  }
  .logo {
    font-size: 2.1rem;
    color: #333333;
    font-weight: 700;
    @media only screen and (max-width: 45em) {
      font-size: 1.5rem;
    }
  }
}
nav {
  @media only screen and (max-width: 45em) {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translateY(-100%);
    transition: $transition;
    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(0%);
    }
  }
  ul {
    display: flex;
    @media only screen and (max-width: 45em) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    li {
      a {
        font-weight: 500;
        color: #333333;
        font-size: 1.45rem;
        margin: 0 1.5rem;
        @media only screen and (max-width: 62em) {
          margin: 0 1rem;
          font-size: 1rem;
        }
        @media only screen and (max-width: 45em) {
          margin: 1rem 0;
          display: inline-block;
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}
.banner {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  @media only screen and (max-width: 45em) {
    margin-bottom: 1.5rem;
  }
  img {
    display: block;
    width: 100%;
  }
}
.section-home {
  padding: 12rem 0 4rem 0;
  @media only screen and (max-width: 45em) {
    padding: 6rem 0 4rem 0;
  }
  .wrapper {
    padding: 0 3.25rem;
    @media only screen and (max-width: 62em) {
      padding: 0 1rem;
    }
  }
  .banner-content {
    margin-bottom: 2.5rem;
    padding-left: 14rem;
    @media only screen and (max-width: 80em) {
      padding-left: 0;
      margin-bottom: 1.5rem;
    }
    p {
      color: $blue;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 1rem;
      @media only screen and (max-width: 45em) {
        font-size: 0.8rem;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 3rem;
      @media only screen and (max-width: 45em) {
        font-size: 1.5rem;
      }
    }
  }
  .banner-subscribe {
    padding-left: 14rem;
    width: 45%;
    @media only screen and (max-width: 80em) {
      padding-left: 0;
    }
    @media only screen and (max-width: 45em) {
      width: 100%;
    }
    h4 {
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 2.5rem;
      @media only screen and (max-width: 45em) {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    p {
      font-size: 1.1rem;
      font-weight: 400;
      color: #4f4f4f;
      line-height: 1.5;
      margin-bottom: 2.5rem;
      @media only screen and (max-width: 45em) {
        font-size: 0.8rem;
      }
    }
    .subform {
      label {
        font-size: 0.9rem;
        color: #828282;
        font-weight: 500;
        margin-bottom: 0.4rem;
        display: inline-block;
      }
    }
  }
}
.formGroup {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    min-height: 3.6rem;
    border-radius: 0.9rem;
    border: 0;
    outline: 0;
    background: #f2f2f2;
    font-family: inherit;
    font-size: 1.1rem;
    color: #333;
    padding: 0 1.2rem;
  }
  button {
    font-size: 1.1rem;
    background: $blue;
    min-height: 3.1rem;
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    outline: 0;
    color: #fff;
    font-weight: 500;
    min-width: 5.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
  }
}
.section-services {
  padding: 10rem 0;
  @media only screen and (max-width: 45em) {
    padding: 3rem 0;
  }
}
.title1 {
  font-weight: 500;
  font-size: 2.1rem;
  margin-bottom: 2.9rem;
  @media only screen and (max-width: 45em) {
    font-size: 1.5rem;
  }
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  @media only screen and (max-width: 62em) {
    grid-gap: 1rem;
  }
  @media only screen and (max-width: 45em) {
    display: flex;
    flex-direction: column;
  }
  .service-col {
    padding: 2.5rem 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: $transition;
    @media only screen and (max-width: 62em) {
      padding: 1rem;
    }
    &:hover {
      box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
      a {
        background: $blue;
        color: #fff;
      }
    }
    .material-icons {
      width: 4.1rem;
      height: 4.1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .blue-icon {
      background: $blue;
    }
    .green-icon {
      background: $green;
    }
    .red-icon {
      background: $red;
    }
    h5 {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    p {
      color: #4f4f4f;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }
    a {
      background: #e0e0e0;
      color: #828282;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.6rem 0.8rem;
      border-radius: 0.5rem;
      transition: $transition;
    }
  }
}

.section-our-works {
  padding: 10rem 0;
  @media only screen and (max-width: 45em) {
    padding: 3rem 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .seeMoreBtn {
    color: $blue;
    font-size: 1.5rem;
    font-weight: 500;
    align-self: flex-end;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 45em) {
      font-size: 1rem;
      align-self: flex-start;
    }
    span {
      margin-left: 0.5rem;
    }
  }
}
.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.4rem;
  width: 100%;
  @media only screen and (max-width: 45em) {
    display: flex;
    flex-direction: column;
  }
  .work-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9rem;
    width: 100%;
    @media only screen and (max-width: 45em) {
      margin-bottom: 3rem;
    }
    &:nth-last-of-type(even) {
      transform: translateY(9rem);
      @media only screen and (max-width: 45em) {
        transform: translateY(0);
      }
    }
  }
  .work-img {
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
      display: block;
    }
  }
  p {
    color: #828282;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }
  h5 {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
.section-team {
  padding: 10rem 0;
  @media only screen and (max-width: 45em) {
    padding: 3rem 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 45em) {
      flex-direction: column;
    }
  }
  .team-content {
    width: 40%;
    padding-right: 5rem;
    @media only screen and (max-width: 62em) {
      width: 50%;
      padding-right: 2rem;
    }
    @media only screen and (max-width: 45em) {
      width: 100%;
      padding-right: 0rem;
    }
    h5 {
      color: $red;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 2.5rem;
      @media only screen and (max-width: 45em) {
        font-size: 1rem;
      }
    }
  }
  .team-gallery {
    width: 60%;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 62em) {
      width: 50%;
    }
    @media only screen and (max-width: 45em) {
      width: 100%;
    }
    .team-image {
      img {
        border-radius: 1.5rem;
        width: 100%;
        display: block;
      }
      &:nth-child(1) {
        width: 55%;
        padding-right: 1.5rem;
        @media only screen and (max-width: 45em) {
          padding-right: 1rem;
        }
      }
      &:nth-child(2) {
        width: 45%;
        img {
          margin-top: 1.5rem;
          &:nth-child(1) {
            margin-top: 0;
            width: 90%;
          }
        }
      }
    }
  }
}
.section-client {
  padding: 10rem 0 12rem;
  @media only screen and (max-width: 45em) {
    padding: 3rem 0;
  }
  h4 {
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 1.5;
    width: 80%;
    margin-bottom: 3rem;
    @media only screen and (max-width: 62em) {
      width: 100%;
    }
    @media only screen and (max-width: 45em) {
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
  .client-info {
    display: flex;
    .client-img {
      width: 5rem;
      border-radius: 0.8rem;
      overflow: hidden;
      margin-right: 2rem;
      img {
        width: 100%;
        display: block;
      }
    }
    .client-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h5 {
        font-size: 1.5rem;
        font-weight: 500;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        color: #828282;
      }
    }
  }
}
footer {
  background: #100e1d;
  padding: 3rem 0;
  color: #fff;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @media only screen and (max-width: 45em) {
      flex-direction: column;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 45em) {
      margin-bottom: 2rem;
    }
    li {
      margin-bottom: 1rem;
      a {
        color: #fff;
        font-size: 1.1rem;
        font: 400;
      }
    }
  }
  .social {
    @media only screen and (max-width: 45em) {
      margin-bottom: 2rem;
    }
    h4 {
      font-size: 2.1rem;
      color: #fff;
      font-weight: 700;
    }
    .social-links {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 0.5rem;
      a {
        color: #fff;
        margin-right: 1rem;
        span {
          font-size: 2rem;
        }
      }
    }
  }
  .subform {
    min-width: 22rem;
    @media only screen and (max-width: 45em) {
      min-width: auto;
      width: 100%;
    }
    label {
      font-size: 0.9rem;
      color: #fff;
      font-weight: 500;
      margin-bottom: 0.4rem;
      display: inline-block;
    }
  }
  .copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a9a9a9;
    margin-top: 4rem;
  }
}
